.product-options-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.option-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.option-item.square {
  min-width: 46px; 
  height: 46px;
  padding: 0 10px; 
}

.option-item.circle {
  width: 31px;
  height: 31px;
}

.option-item.selected {
  border: 2px solid var(--primary) !important; 
}

.option-item.text .option-text {
  font-size: 24px;
  color: var(--dark-gray-2);
}