/* Definição das variáveis de cor */
:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;

  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

/* Reset básico para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* Ou sua fonte preferida */
  color: var(--dark-gray);
  background-color: var(--light-gray-3); /* Um fundo levemente cinza */
  line-height: 1.6;
}

/* Estilos globais para links, botões, etc. (ajuste conforme necessário) */
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  list-style: none;
}